*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(29, 109, 123);
       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}